<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fm.doe.national.survey_core" >

    <application>
        <activity
            android:name="fm.doe.national.survey_core.ui.photos.FullscreenImageActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
