<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pacific_emis.surveys.core" >

    <application>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.pacific_emis.surveys.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
