<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pacific_emis.surveys.remote_storage">

    <application>
        <activity
            android:name="org.pacific_emis.surveys.remote_storage.ui.auth.GoogleAuthActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="org.pacific_emis.surveys.remote_storage.ui.remote_storage.DriveStorageActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>