<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fm.doe.national">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MicronesiaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.screens.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screens.criterias.CriteriasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.categories.CategoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.survey_creation.CreateSurveyActivity"
            android:label="@string/label_create_survey"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.school_accreditation.SchoolAccreditationActivity"
            android:label="@string/label_school_accreditation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.cloud.DriveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.cloud.DropboxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.settings.SettingsActivity"
            android:label="@string/label_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.standards.StandardsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.criterias.FullscreenImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.photos.PhotosActivity"
            android:label="@string/label_attached_photos"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-${dropbox_api_key}" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="756ac67f491414c118880f7a5853ff25b6e22886" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="fm.doe.national.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>