<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fm.doe.national">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app_support.MicronesiaApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".ui.screens.splash.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screens.region.ChooseRegionActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.menu.MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.survey_creation.CreateSurveyActivity"
            android:label="@string/label_create_survey"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SearchToolbar" />
        <activity
            android:name=".ui.screens.surveys.SurveysActivity"
            android:label="@string/label_school_accreditation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.settings.SettingsActivity"
            android:label="@string/label_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.password.PasswordsActivity"
            android:label="@string/label_passwords"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screens.logo.LogoActivity"
            android:label="@string/label_logo"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.screens.templates.SurveyTemplatesActivity"
            android:label="@string/title_templates"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="756ac67f491414c118880f7a5853ff25b6e22886" />
    </application>

</manifest>